@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");

.home {
  width: 90%;
  margin: 0 auto;

  .title {
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    color: green;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    .card {
      width: 300px;
      display: flex;
      flex-direction: column;
      box-shadow: 2px 4px 50px 0px rgba(34, 60, 80, 0.2);
      border-radius: 10px;
      padding: 10px;
      .img{
        border-radius: 10px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
      }
      .info {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 7px;
        h1{
            font-weight: 600;
            font-size: 20px;
        }
        p{
            width: 100% !important;
            overflow: hidden;
        }
        .btns{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
            width: 100%;
            .heart{
                margin-left: auto;
            }
            h2{
                color: green;
                font-size: 20px;
                font-weight: 600;
            }
        }
        
      }
    }
  }
}
