*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// @import '~flag-icon-css/sass/flag-icon';

.App {
    text-align: center;
  }
  
  .content {
    padding-bottom: 60px; /* Adjust based on your nav height */
  }
  .oll{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  
  }
  .all{
    width: 65%;
   
      background-size: cover; 
      background-position: center;
      overflow-x: scroll;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
  }
  .logo{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
   border-bottom: 1px solid black;
    height: 10vh;
    img{
      width: 100px;
    }
  }
  select {
    appearance: none;
    background-color: white;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    color: #333;
    border: 1px solid #ccc;
  }
  
  select option {
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .flag-icon {
    margin-right: 8px;
  }
  
  @media (max-width:800px) {
    .all{
        width: 100%;
        
        .oll{
            width: 70%;
            margin: 0 auto;
        }
    }
  }