/* style.scss */

/* Container for grid items */
.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;

  }
  
  /* Card styles */
  .menu {
    display: grid;
    grid-template-columns: repeat( 1fr);
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    img {
      width: 100%;
      // height: 200px;
      object-fit: cover;
    }
  
    .content {
      padding: 1rem;
  
      h1 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }
  
      p {
        font-size: 1rem;
        color: #4a4a4a;
        margin-bottom: 1rem;
      }
  
      .quantity-controls {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;
  
        button {
          padding: 0.5rem 1rem;
          background-color: #d1d1d1;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #b0b0b0;
          }
        }
      }
  
      .add-to-order-button {
        width: 100%;
        padding: 0.75rem;
        background-color: #004332;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #003322;
        }
      }
    }
  }
  
  